
@{
    ViewBag.Title = "我的EasyUI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north', height:50" style="background-color:#0094ff;">@Html.Partial("_LayoutTopPartial")</div>
    <div data-options="region:'west',split:true,minWidth:100, width:150,title:'功能导航'">
        <div id="menu" class="easyui-accordion" data-options="fit:true, border:false, selected:true">
        </div>
    </div>
    <div data-options="region:'center'">
        <div id="tabs" class="easyui-tabs" data-options="tools:'#tab-tools',fit:true,border:false">
            <div id="home" title="我的主页" data-options="iconCls:'icon-house',closable:false">
                This is the Home content.
            </div>
        </div>
    </div>
    <div data-options="region:'south',height:50">
        <p style="text-align:center; line-height:20px;">Copyright &copy; 我的EasyUI @DateTime.Now.Year</p>
    </div>
    <div id="tabsMenu" class="easyui-menu" style="width: 150px;">
        <div id="m-refresh">刷新</div>
        <div class="menu-sep"></div>
        <div id="m-close">关闭当前</div>
        <div id="m-closeother">除此之外全部关闭</div>
        <div id="m-tabcloseright">当前页右侧全部关闭</div>
        <div id="m-tabcloseleft">当前页左侧全部关闭</div>
        <div id="m-closeall">全部关闭</div>
        <div class="menu-sep"></div>
        <div id="m-exit">退出</div>
    </div>
   
</div>

