
    <div style="width:30%;float:left;"><span style="font-size:large;font-family:'Microsoft YaHei'">Mvc应用程序</span></div>
    <div id="toptools" style="width:60%;float:right;text-align:right;">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-clock'"><span id="bgclock" style="color:white;"></span></a>
        <a href="javascript:void(0)" class="easyui-menubutton" data-options="menu:'#mm1',iconCls:'icon-user'"><span style="color:white;font-weight:bold;font-size:16px ;">@ViewBag.AccountName</span></a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-help'"><span style="color:white;">帮助</span></a>
    </div>
    <div id="mm1">
        <div data-options="iconCls:'icon-undo'" onclick="UserLoginOut()">注销</div>
        <div data-options="iconCls:'icon-pencil'" onclick="ChangePwd('')">修改密码</div>
    </div>



