@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Jquery.Easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/Jquery.Easyui/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/css/homecss.css" rel="stylesheet" />
    @RenderSection("header", false)
</head>
<body>
    @RenderBody()
    <script src="~/Content/Jquery.Easyui/jquery.min.js"></script>
    <script src="~/Content/Jquery.Easyui/jquery.easyui.min.js"></script>
    <script src="~/Content/Jquery.Easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Content/Jquery/commjs.js"></script>
    @RenderSection("footer", false)
</body>
</html>
