
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/dome.css" rel="stylesheet" />
    <style type="text/css">
        #errMsg {
            color: #E21B1A;
            font-weight: bold;
        }
    </style>
</head>
<body onkeydown="KeyLogin()">
    <div class="box">
        <div class="cnt">
            <p id="huanying"><span id="cnt_one">欢迎登录</span></p>
            <hr>
            <div>
                <form class="bs-example bs-example-form" role="form">
                    <div class="input-group">
                        <span class="input-group-addon"><img src="~/Content/image/user.png"></span>
                        <input type="text" id="UserName" name="UserName" class="form-control" placeholder="请输入您的账号">
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon"><img src="~/Content/image/suo.png"></span>
                        <input type="text" id="Password" name="Password" class="form-control" placeholder="请输入您的密码">
                    </div><br>
                    <div class="input-group" style="position:absolute;">
                        <input type="text" id="VCode" name="VCode" class="form-control" placeholder="请输入验证码" style="position:relative;width:150px;height:33px;">
                        <img src="/Login/CheckCode?" alt="刷新验证码！" id="codeImg" onclick="ClickRemoveChangeCode()"><a href="javascript:void(0);" onclick="ClickRemoveChangeCode()">看不清？</a>
                    </div><br><br>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="isAllway" name="isAllway"> 记住密码
                        </label>
                    </div>
                    <div id="errMsg"></div>
                </form>
            </div>
            <div style="margin-top:20px;">
                <input class="form-control btn btn-info" type="button" value="登录" onclick="Login()">
            </div>
        </div>
    </div>
    <script src="~/Content/Jquery/jquery.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/Jquery/loginjs.js"></script>
</body>
</html>
